@import "../../style.scss";

.tienda {
  @include themify($themes) {

    color: themed("textColor");
    background-color: themed("bgSoft");




    @include mobile {
      padding: 10px;
    }

    @include tablet {
      padding: 20px;
    }
  }
}